@import '../../../scss/index.scss';

.section-index {
    font-weight: 800;
}

.section-name {
    max-width: 22rem;
    font-weight: 700;
}

.section-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    svg {
        width: 1.5rem;
    }
}