@import '../../../scss/index.scss';

.button {
    background-color: $blue;
    color: $white;
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s;

    &:hover {
        background: $blue-dark;
        box-shadow: 0 0.2rem 1rem $blue;
    }

    svg {
        max-width: 1.5rem;
        stroke-width: 1.8;
    }
}

.button-outline {
    background: $blue-light;
    color: $blue-dark;

    &:hover {
        background-color: $blue;
        color: $white;
        box-shadow: none;
    }
}