@import '../../../scss/index.scss';

.coupon-container {
    &:hover {
        .coupon-content {
            box-shadow: 0 0 25px $primary;
        }

    }
}

.coupon-content {
    background: $gradient-primary-bright;
    border-radius: 1rem;
    color: $white;
    padding-inline: 1.6rem;
    padding-block: 2rem;
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    max-width: 36rem;
    
    // Animation
    transition: all 0.5s cubic-bezier(0.03, 0.98, 0.52, 0.99);

    .coupon-content__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 8rem;
    }
    .coupon-content__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.4rem;
        border-inline-start: dashed 0.1rem;
        padding-inline: 1.6rem;
        padding-block: 0.5rem;
        text-align: center;
    }
    
    .coupon-content__value {
        font-size: 4.8rem;
        font-weight: 900;
    }
}
