@import '../../../scss/index.scss';


.register-completed {
    padding-block-start: 4rem;
}

.title-container {
    max-width: 54rem;
    text-align: center;
    padding-inline: 1rem;
    margin-inline: auto;

}

.congratulations-title {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
    color: transparent;
    background-clip: text;
    background-image: $gradient-primary-bright;
}

.client-name {
    font-weight: 900;
    font-size: 2.4rem;
    margin-block-end: 2rem;
}

.heading {
    font-size: 2rem;
    font-weight: 400;
    margin-block-end: 2rem;
    span {
        font-weight: 700;
        font-style: italic;
    }
}

.conditions {
    font-size: 1.4rem;
    span {
        text-decoration: underline;
    }
}

.coupons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.2rem;
    padding-block: 4rem;
    padding-inline: 1rem;
}

.phone-client__container {
    text-align: center;
    margin-block-start: 3.2rem;
    p {
        font-size: 2rem;
        span {
            font-weight: 600;
            text-decoration: underline;
        }
    }
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 5rem;
    padding-inline: 2rem;
    svg {
        width: 2.5rem;
    }
}


@media (min-width: 768px) {
    .congratulations-title {
        font-size: 4.8rem;
    }

    .coupons-container {
        grid-template-columns: repeat(2, 1fr);
        padding-block: 6rem;
        padding-inline: 4rem;
    }

    .button-container {
        max-width: 35rem;
        margin-inline: auto;
    }
}