@import '../../../scss/index.scss';

.msg-success {
    text-align: center;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    height: 100%;
    padding-inline: 1.5rem;
}

.msg-success__title {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

.msg-success__msg {
    font-size: 1.8rem;
    text-wrap: pretty;
    line-height: 1.5;
}

.msg-success__link {
    margin-block-start: 2rem;
    color: $orange;

    &:hover {
        color: $primary;
        text-decoration: underline;
    }
}
