@import '../../../scss/index.scss';


.brands-container {
    padding: 12rem 1rem;

    .brands-title {
        font-weight: 900;
        font-size: 4rem;
        text-align: center;
        margin-block-end: 3rem;
        text-transform: uppercase;
    }
}

.brands-content {
    display: grid;
    justify-content: center;
    
    gap: 4rem;
    .brands-logo {
        max-width: 20rem;
    }
}



@media (min-width: 992px) {
    .brands-container {    
        .brands-title {
            font-size: 4.8rem;
            margin-block-end: 1rem;
        }
    }

    .brands-content {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;

        .brands-logo {
            max-width: 30rem;
        }
    }

    .brands-description {
        font-size: 2rem;
    }

}
