@import '../../../scss/index.scss';

.form {
    background-color: $white;
    border-radius: 0.5rem;
    padding-inline: 2rem;
    padding-block-start: 2rem;
    padding-block-end: 2.5rem;
    min-width: 30rem;
}

.form_fields-container {
    display: flex;
    flex-direction: column;
    padding-block-start: 2rem;
}

@media (min-width: 768px) {
    .form {
        min-width: 40rem;
        padding-inline: 2.8rem;
        padding-block: 2.8rem;
    }
}