@import '../../../scss/index.scss';

.category-index {
    font-weight: 800;
}

.category-name {
    max-width: 22rem;
    font-weight: 700;
}

.category-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}