@import '../../../scss/index.scss';

.product-index {
    font-weight: 800;
}

.product-title {
    max-width: 22rem;
    min-width: 18rem;
    font-weight: 700;
}

.product-image__figure {
    width: 5rem;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 0.4rem;
    margin: 0;
}

.product-image__img {
    object-fit: cover;
}

.product-actions__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
    button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    svg {
        width: 1.5rem;
    }
}