@import '../../../scss/index.scss';

.button {
    color: $gray;
    padding: 1rem 1.6rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    min-width: 14rem;
    cursor: pointer;
    border: $border-gray-light;
    &:hover {
        background-color: $gray-ultra-light;
    }
}
