@import '../../../scss/index.scss';

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    min-width: 2rem;
    min-height: 2rem;
    padding: 0.3rem;
    transition: background 0.3s;

    &:hover {
        background: $primary-light;
    }

    &:active {
        transform: scale(0.9);
    }
}