@import '../../scss/index.scss';

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

.form-container__description {
    text-align: center;
    line-height: 1.4;
    font-size: 1.8rem;
    text-wrap: pretty;
    font-weight: 500;
    color: $gray;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.login-form__links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-block-start: 4rem;
}

.login-form__link {
    color: $orange;
    &:hover {
        color: $primary;
        text-decoration: underline;
    }
}

@media (min-width: 992px) {
    .form {
        flex: 1;
    }
}