@import '../../../scss/index.scss';

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100%;

    h1 {
        margin-block-start: 1rem;
    }
}

.form-container__description {
    text-align: center;
    line-height: 1.4;
    font-size: 1.8rem;
    text-wrap: pretty;
    font-weight: 500;
    color: $gray;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}


@media (min-width: 992px) {
    .form {
        flex: 1;
    }
    .form-container {    
        h1 {
            margin-block-start: 0.5rem;
        }
    }
}