.form-product {
    padding: 1rem;
}

.form-product__subtitle {
    font-size: 1.7rem;
    margin-block-end: 2rem;
    font-size: 1.7rem;
}

.form-product__description {
    min-height: 20rem;
    margin-block-end: 2rem;
}

.button-container {
    margin-block-start: 2rem;
    max-width: 16rem;
    margin-inline-start: auto;
}

.flex {
    display: flex;
    flex-direction: column;
}

@media (min-width: 640px) {
    .form-product {
        padding: 2rem;
    }

    .form-product__description {
        margin-block-end: 0;
    }

    .flex {
        flex-direction: row;
        gap: 1rem;
    }
}