.settings-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.settings-section__add-button {
    width: auto;
    svg {
        width: 2.4rem;
    }
}

.settings-section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.settings-section__title-container {
    display: flex;
    align-items: flex-end;
    gap: 0.4rem;
}
