@import '../../../scss/index.scss';

.select-container {
    position: relative;
    border: $border-gray-light;
    border-radius: 0.5rem;
    background-color: $white;
    background: none;
    width: 100%;

    &:hover {
        border: $border-primary;
    }
        
    .select {
        border: none;
        border-radius: 0.5rem;
        padding-block: 1.2rem;
        padding-inline-start: 1.6rem;
        padding-inline-end: 3.2rem;
        font-size: 1.6rem;
        appearance: none;
        background: none;
        z-index: -1;
        cursor: pointer;
    }

    .select-focus {
        outline: $outline-primary;
    }

    .icon-container {
        position: absolute;
        inset-block-start: 0;
        inset-inline-end: 0;
        height: 100%;
        width: 3rem;
        padding-inline: 0.5rem;
        z-index: -1;
        svg {
            width: 100%;
        }
    }

    .option-list {
        position: absolute;
        inset-block-start: calc(100% + 0.1rem);
        background: $white;
        min-width: 100%;
        box-shadow: 0 0 2rem $gray-ultra-light;
        border: $border-primary;
        border-radius: 0.5rem;
        height: 0;
        opacity: 0;
        overflow: hidden;
        z-index: 1;
        .option {        
            padding-block: 1.2rem;
            padding-inline: 1.6rem;
            cursor: pointer;
            &:hover {
                background-color: $gray-ultra-light;
            }
            &.option-selected {
                background-color: $primary-light;
                color: $orange;
            }
            
        }
        &.open-option-list {
            transition: all 0.3s ease;
            height: auto;
            opacity: 1;
        }
    }

}