@import '../../../scss/index.scss';


.siderbar-container {
    background-color: $gray-ultra-light;
    padding: 1.5rem;
    border-radius: 1rem;
    max-width: 27rem;
    position: sticky;
    inset-block-start: 11rem;
    display: none;
}

.siderbar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-inline: 2rem;
    padding-block-start: 2rem;
    padding-block-end: 2.5rem;

    .siderbar-header__photo{
        position: relative;
        width: 8.2rem;
        height: 8.2rem;
        border-radius: 50%;
        background-color: $white;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            height: 100%;
            width: 100%;
            font-weight: 800;
            font-size: 3rem;
            background-color: $primary-light;
            color: $primary;
        }
    }

    .siderbar-header__name{
        font-size: 1.8rem;
        font-weight: 800;
        text-align: center;

        span {
            display: block;
            font-weight: 400;
            font-size: 1.4rem;
        }
    }
}

.siderbar-divider {
    border-block-end: 0.1rem solid $gray-light;
    opacity: 0.3;
}

.siderbar-list {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding-block: 1.5rem;
}

.siderbar__button-logout {
    margin-block-start: 1rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    
    border-radius: 0.8rem;
    padding-block: 0.9rem;
    padding-inline: 1.2rem;    
    color: $red-dark;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    svg {
        width: 2rem;
    }
    &:hover {
        background: $red-light;
    }
}




@media (min-width: 821px) {
    .siderbar-container {
        display: block;
        min-width: 27rem;
    }
}