@import '../../../scss/index.scss';

.dropzone{
    border-radius: 0.5rem;
    border: $border-dashed-gray-light;
    height: 100%;
    padding: 1rem;
    cursor: pointer;
    color: $gray-light;

    svg {
        width: 2.4rem;
    }

    &:hover {
        color: $primary;
        border-color: $primary;
    }
}

.dropzone__msg-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dropzone__dimensions {
    font-size: 1.1rem;
}

.dropzone__img-content {
    max-width: 15rem;
}

.dropzone__images {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dropzone__img {
    object-fit: contain;
}

@media (min-width: 768px) {
    .dropzone__images { 
        gap: 3rem;
    }

}