@import '../../../scss/index.scss';

.hero-content {
    height: 50rem;
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 2rem;
    position: relative;
}

.hero-left {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    // gap: 3rem;
    .logo {
        max-width: 80%;
        height: 18rem;
        margin: 0 auto;
        transform: rotate(-2deg);
    }
    
    .title {
        display: flex;
        justify-content: center;
        h1 {
            display: flex;
            flex-direction: column;
            padding-inline: 3rem;
            transform: rotate(-2deg);
            span {
                &:first-child {
                    font-size: 2.4rem;
                    text-transform: uppercase;
                    color: $orange;
                }
                &:last-child {
                    font-size: 6.5rem;
                    font-weight: 400;
                    display: inline-block;
                    background-color: $primary;
                    border-radius: 0.8rem;
                    padding: 0 3.5rem;
                    color: $white;
                }
            }
        }
    }
}

.hero-right {
    border-radius: 0.8rem;
    background: url('/images/yolo-style-hero.webp');
    background-size: cover;
    background-position: top right;
    height: 100%;
}

.image-center {
    position: absolute;
    left: 50%;
    bottom: 0;
    max-width: 40rem;
    transform: translateX(-50%);
    img {
        height: 100%;
        width: 100%;
    }
}

.image-center-text {
    text-transform: uppercase;
    color: $orange;
    font-weight: 500;
    font-size: 5.3rem;
    display: none;
    &.text-one {
        position: absolute;
        top: 2rem;
        right: -9rem;
        transform: rotate(-6deg);
    }
    &.text-two {
        position: absolute;
        top: 11rem;
        right: -24rem;
        transform: rotate(-6deg);
    }
    &.text-three {
        position: absolute;
        top: 21rem;
        right: -38rem;
    }
    &.text-four {
        position: absolute;
        top: 31rem;
        right: -38rem;
        transform: rotate(4deg);
    }
    &.text-five {
        position: absolute;
        top: 40rem;
        right: -20rem;
        transform: rotate(6deg);
    }
}


@media (min-width: 768px) {
    .hero-content {
        height: 70rem;
        grid-template-rows: 1fr;
    }

    .hero-left {
        padding-top: 5.5rem;
        gap: 3rem;
        .logo {
            height: 24rem;
            max-width: 60rem;
        }
        .title {
            display: flex;
            justify-content: center;
            h1 {
                span {
                    &:first-child {
                        font-size: 3rem;

                    }
                    &:last-child {
                        font-size: 7.5rem;
                    }
                }
            }
        }
    }
    .hero-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-right {
        min-height: 50rem;
    }

    .image-center-text {
        display: block;
    }
}