@import '../../../scss/index.scss';

.hero-content-section {
    background-image: radial-gradient(60% 80% at 50% 25%,hsla(13, 100%, 70%, 0.3) 0%,hsla(54,100%,75%,0) 50%);
}

.hero-content {
    height: 50rem;
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 2rem;
    position: relative;
    overflow-x: hidden;
}

.hero-left {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    
    .logo {
        max-width: 80%;
        height: 18rem;
        margin: 0 auto;
        transform: rotate(-2deg);
    }
    
    .title {
        display: flex;
        justify-content: center;

        h1 {
            display: flex;
            flex-direction: column;
            padding-inline: 3rem;
            transform: rotate(-2deg);

            span {

                &:first-child {
                    font-size: 2.4rem;
                    text-transform: uppercase;
                    color: $orange;
                }

                &:last-child {
                    font-size: 6rem;
                    font-weight: 400;
                    display: inline-block;
                    background-color: $primary;
                    border-radius: 0.8rem;
                    padding: 0 3.5rem;
                    color: $white;
                }
            }
        }
    }
}

.hero-right {
    border-radius: 0.8rem;
    background: url('/images/yolo-style-hero.webp');
    background-size: cover;
    background-position: top right;
    height: 100%;
}

.image-center {
    position: absolute;
    left: 50%;
    bottom: 0;
    max-width: 30rem;
    transform: translateX(-50%);

    img {
        height: 100%;
        width: 100%;
    }
}

.image-center-text {
    text-transform: uppercase;
    color: $orange;
    font-weight: 500;
    font-size: 5.3rem;
    display: none;

    &.text-one {
        position: absolute;
        top: 2rem;
        right: -6rem;
        transform: rotate(-6deg);

        // opacity: 0;
        // animation-name: bounceInLeft;
        // animation-delay: 0.5s;
        // animation-duration: 0.5s;
        // animation-fill-mode: forwards;
    }

    &.text-two {
        position: absolute;
        top: 11rem;
        right: -21rem;
        transform: rotate(-6deg);

        // opacity: 0;
        // animation-name: bounceInLeft;
        // animation-delay: 0.75s;
        // animation-duration: 0.5s;
        // animation-fill-mode: forwards;

    }

    &.text-three {
        position: absolute;
        top: 21rem;
        right: -34rem;

        // opacity: 0;
        // animation-name: bounceInLeft;
        // animation-delay: 1s;
        // animation-duration: 0.5s;
        // animation-fill-mode: forwards;
    }

    &.text-four {
        position: absolute;
        top: 31rem;
        right: -35rem;
        transform: rotate(4deg);

        // opacity: 0;
        // animation-name: bounceInLeft;
        // animation-delay: 1.25s;
        // animation-duration: 0.5s;
        // animation-fill-mode: forwards;
    }

    &.text-five {
        position: absolute;
        top: 40rem;
        right: -16rem;
        transform: rotate(6deg);

        // opacity: 0;
        // animation-name: bounceInLeft;
        // animation-delay: 1.5s;
        // animation-duration: 0.5s;
        // animation-fill-mode: forwards;
    }
}

@media (min-width: 640px) {
    .hero-left {
        .title {
            h1 {
                span {
                    &:last-child {
                        font-size: 6.5rem;
                    }
                }
            }
        }
    }    
}

@media (min-width: 768px) {
    .hero-content-section {
        background-image: radial-gradient(50% 80% at 15% 60%,hsla(13, 100%, 70%, 0.3) 10%,hsla(54,100%,75%,0) 50%);
    }

    .hero-content {
        height: 70rem;
        grid-template-rows: 1fr;
    }

    .hero-left {
        padding-top: 5.5rem;
        gap: 3rem;

        .logo {
            height: 24rem;
            max-width: 60rem;
            padding-inline: 2rem;
        }

        .title {
            display: flex;
            justify-content: center;
            h1 {
                span {
                    &:first-child {
                        font-size: 3rem;

                    }
                }
            }
        }
    }

    .hero-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-right {
        min-height: 50rem;
    }

    .image-center {
        max-width: 40rem;
    }

    .image-center-text {
        display: block;
    }
}


@media (min-width: 992px) {
    .hero-left {
        .title {
            h1 {
                span {
                    &:last-child {
                        font-size: 7.5rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .image-center-text {
        &.text-one {
            right: -9rem;
        }
    
        &.text-two {
            right: -24rem;    
        }
    
        &.text-three {
            right: -38rem;
        }
    
        &.text-four {
            right: -38rem;
        }
    
        &.text-five {
            right: -20rem;
        }
    }
}