@import '../../../scss/index.scss';

.coupons-container {
    display: grid;
    gap: 1rem;
    padding: 16rem 1rem;
    // background: $brown-light;
    background: linear-gradient(rgba(255, 119, 82, 0.8),rgba(216, 99, 3, 0.8)), url('https://scontent.fcvj2-1.fna.fbcdn.net/v/t39.30808-6/392939944_722674399880870_7695017363965143280_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=UagueX7BSXcAX9L7ZbM&_nc_ht=scontent.fcvj2-1.fna&oh=00_AfAL2vSXCjsM30OkIEyN5NVK8PXYxxQFi39QmGCFM_ostQ&oe=654EDDA0');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;

    .title-section {
        font-size: 4rem;
        text-align: center;
        span {
            &:nth-child(2) {
                margin-inline-start: 2rem;
                font-size: 6.5rem;
            }
            &:nth-child(3) {
                display: block;
            }
        }
    }
}

@media (min-width: 992px) {
    .coupons-container {
        .title-section {
            font-size: 6.5rem;
            span {
                &:nth-child(2) {
                    font-size: 9.2rem;
                }
            }
        }
    }
}