@import '../../../scss/index.scss';

.coupon-settings-section {
    min-height: 35rem;
}

.coupon-settings-section__form {

    .label {
        font-size: 1.6rem;
        margin-block-end: 0.7rem;
        color: $gray;
        font-weight: 500;
    }

    .coupon-settings-section__subtitle {
        margin-block-end: 1rem;
        font-size: 1.7rem;
    }
    
    .coupon-settings-section__content {
        border-radius: 0.7rem;
        padding-inline: 1.5rem;
        padding-block-start: 1.8rem;
        padding-block-end: 1.2rem;
        margin-block-end: 2rem;
    }

    .html-editor__congratulation-subtitle {
        height: 16rem;
    }

    .html-editor__conditions {
        height: 16rem;
    }
    
    .date-picker__content {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        
        .date-picker__date {
            flex: 1;
        }
    }

    .button-container {
        max-width: 16rem;
        margin-inline-start: auto;
    }

    .coupons {
        margin-block-start: 1.5rem;
    }
}

@media (min-width: 768px) {
    .coupon-settings-section__form {

        .html-editor__congratulation-subtitle {
            height: 10rem;
        }

        .html-editor__conditions {
            height: 14rem;
        }
    }
}