@import '../../../scss/index.scss';

.button {
    background-color: $red;
    color: $white;
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid transparent;


    &:hover {
        background: $red-dark;
        box-shadow: 0 0.2rem 1rem $red;
    }
}

.button-outline {
    background: none;
    color: $red;
    border: 1px solid $red;

    &:hover {
        background-color: $red;
        box-shadow: 0 0.2rem 1rem $red;
        color: $white;
        box-shadow: none;
    }
}