@import '../../../scss/index.scss';
.register-section {
    min-height: 35rem;
}

.filter-container {
    padding-block-end: 2rem;
    display: flex;
}

.loader-container {
    min-height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 2rem;
    
    .register-count {
        display: flex;
        gap: 0.4rem;    
        color: $gray;
        font-size: 1.5rem;
        margin-inline-start: auto;
    }
}
