@import '../../../scss/index.scss';

.main-login {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: $gradient-bg-primary;
}

.login-container {
    box-shadow: 0px 0px 40px rgba(29, 58, 83, 0.1);
    border-radius: 1rem;
    display: grid;
    max-width: 96rem;
    width: 95%;
    background-color: $white;
}

.login-form {
    padding-block-start: 2rem;
    padding-block-end: 4rem;
    padding-inline: 2rem;
    width: 100%;

    h1 {
        text-align: center;
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;
    }  
}

.login-picture {
    padding: 2rem;
    max-width: 50rem;
    display: none;
}

@media (min-width: 640px) {
    .login-container {
        width: 70%;
        max-width: 50rem;
    }

    .login-form {
        padding-block-start: 2.5rem;
        padding-inline: 4rem;
    }
}

@media (min-width: 992px) {
    .login-container {
        grid-template-columns: repeat(2, 1fr);
        width: 95%;
        max-width: 108rem;
        min-height: 48rem;
        padding-block: 4rem;
    }

    .login-form {
        border-inline-end: dashed 0.1rem $gray-light;
        padding-block-start: 0;
        padding-block-end: 0;
    }

    .login-picture {
        display: block;
        margin-inline: auto;
        padding-inline: 4rem;
    }
}