@import '../../../scss/index.scss';

.modal-container {
    position: fixed;
    inset: 0;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 90;
}

.modal-content {
    position: relative;
    background-color: $white;
    padding: 3rem;
    z-index: 90;
}