.loader-container {
    min-height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-list {
    display: flex;
    flex-direction: column;

    div:nth-child(2) {
        padding-block-end: 12rem;
    }
    
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 2rem;
}