@import '../../../scss/index.scss';

.section-form {
    background-color: $white;
    border-radius: 0.5rem;
    padding-inline: 2rem;
    padding-block-start: 2rem;
    padding-block-end: 2.5rem;
    min-width: 30rem;
    width: calc(100vw - 2rem);
}

.section-form__fields {
    display: flex;
    flex-direction: column;
    padding-block-start: 2rem;
}

.section-form__cover {
    margin-block-end: 1.5rem;
    height: 12rem;
}


.section-form__toggles-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-form__toggle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.7rem;
    margin-block-end: 1rem;
}

.button-container {
    margin-block-start: 1rem;
}


@media (min-width: 640px) {
    .section-form {
        min-width: 40rem;
        width: auto;
    }
}