

$primary: #FF7954;
$primary-light: rgba(255, 121, 84, 0.2);
$orange: #DA5203;
$brown-light: #E2CFBE;
$gray: #747579;
$gray-light: #CCCCCC;
$gray-ultra-light: #F5F5F6;
$white: #FFF;
$black: #0B0A12;
$red-dark: #D6293E;
$red: #FF0000;
$red-light: rgba(214, 41, 62, 0.1);

$gradient-primary: linear-gradient(to right bottom, #ff7954, #f77244, #ee6c33, #e46720,#e76c07);
$gradient-primary-bright: linear-gradient(to right, #ff7954 ,#fe3b11);