

$primary: #FF7954;
$primary-light: rgba(255, 121, 84, 0.2);
$orange: #DA5203;
$brown-light: #E2CFBE;
$gray: #747579;
$gray-light: rgba(115, 116, 120, 0.6);
$white: #FFF;
$black: #000;


$gradient-primary: linear-gradient(to right bottom, #ff7954, #f77244, #ee6c33, #e46720,#e76c07);