

$primary: #FF7954;
$primary-light: rgba(255, 121, 84, 0.2);
$orange: #DA5203;
$brown-light: #E2CFBE;
$gray: #747579;
$gray-light: #CCC;
$gray-ultra-light: #F5F5F6;
$gray-light-silver: #DFDFE3;
$white: #FFF;
$black: #0B0A12;
$black-light: #0B0A126C;
$red-dark: #D6293E;
$red-message: #FF0000;
$red: #DC2626;
$red-light: rgba(214, 41, 62, 0.1);
$green: #08b981;
$green-light: #D1FAE5;
$blue-dark: #1E40AF;
$blue-facebook: #5475BC;

$gradient-primary: linear-gradient(to right bottom, #ff7954, #f77244, #ee6c33, #e46720,#e76c07);
$gradient-primary-bright: linear-gradient(to right, #ff7954 ,#fe3b11);

$gradient-bg-primary: radial-gradient(100% 50% at -5% 35%,hsla(13, 100%, 66%, 0.3) 0%,hsla(54,100%,75%,0) 70%),
radial-gradient(50% 50% at 95% 35%,hsla(13, 100%, 66%, 0.3) 0%,hsla(313,100%,58%,0) 70%);