@import './index.scss';

html {
    font-size: 62.5%;
    // scrollbar-gutter: stable;
    scroll-behavior: smooth;
}

*,*::before,*::after{
    box-sizing: border-box;
}
 
body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    line-height: 1.2;
    color: $black;
    // overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h6 {
    font-size: 1.6rem;
    font-weight: 800;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: unset;
    text-decoration: none;
}

button {
    border: none;
    background: none;
    font-size: 1.6rem;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

input {
    border: none;
}

input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: none;
  
    /* Oculta las flechas */
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      display: none;
    }
}

body.fixed-body {
    overflow: hidden;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.divider {
    display: block;
    border-block-end: 0.1rem solid $gray-light;
    opacity: 0.3;
}

.error-message {
    color: $red-message;
    font-size: 1.3rem;
}

.required-asterisk {
    color: $red-dark;
}

.input-slug {
    color: $gray;
    &:focus {
        color: $black;
    }
}

.input-label {
    font-size: 1.6rem;
    color: $gray;
    font-weight: 500;
}


.flex {
    display: flex;
    flex-direction: column;
}

.items-start {
    align-items: flex-start;
}

.items-center {
    align-items: center;
}

@media (min-width: 768px) {
    .flex {
        flex-direction: row;
        gap: 1rem;
    }
}

// === === === Loaders === === ===
.main-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.custom-loader-primary {
    min-width:24px;
    min-height:24px;
    max-width:5rem;
    max-height:5rem;
    border-radius:50%;
    background:conic-gradient(#FFF0 10%, $primary);
    -webkit-mask:radial-gradient(farthest-side,#FFF0 calc(100% - 4px), $primary 0);
    animation:s3 0.6s infinite linear;
}

.custom-loader-white {
    min-width:24px;
    min-height:24px;
    max-width:5rem;
    max-height:5rem;
    border-radius:50%;
    background:conic-gradient(#FFF0 10%,#FFF);
    -webkit-mask:radial-gradient(farthest-side,#FFF0 calc(100% - 4px),#FFF 0);
    animation:s3 0.6s infinite linear;
}
@keyframes s3 {to{transform: rotate(1turn)}}


.loader-cube {
    width: 4.8rem;
    height: 4.8rem;
    margin: auto;
    position: relative;
}
.loader-cube:before {
    content: '';
    width: 4.8rem;
    height: 0.5rem;
    background: $primary;
    opacity: 0.25;
    position: absolute;
    top: 6rem;
    left: 0;
    border-radius: 50%;
    animation: shadow 0.5s linear infinite;
}
.loader-cube:after {
    content: '';
    width: 100%;
    height: 100%;
    background: $primary;
    animation: bxSpin 0.5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.4rem;
}
@keyframes bxSpin {
    17% {
        border-bottom-right-radius: 0.3rem;
    }
    25% {
        transform: translateY(0.9rem) rotate(22.5deg);
    }
    50% {
        transform: translateY(1.8rem) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }
    75% {
        transform: translateY(0.9rem) rotate(67.5deg);
    }
    100% {
        transform: translateY(0) rotate(90deg);
    }
}
@keyframes shadow {
    0%, 100% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1);
    }
}



/* Custom scroll */
.custom-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.custom-scroll::-webkit-scrollbar:vertical {
    width:0.8rem;
    background-color: $gray-ultra-light;
}

.custom-scroll::-webkit-scrollbar-button:increment,
.custom-scroll::-webkit-scrollbar-button {
    display: none;
} 

.custom-scroll::-webkit-scrollbar:horizontal {
    height: 0.8rem;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #b4b4b4;
    border-radius: 2rem;
    border: 0.2rem solid #f1f2f3;
}

.custom-scroll::-webkit-scrollbar-track {
    border-radius: 0.8rem;  
}


// Editor
div.ql-toolbar.ql-snow + .ql-container.ql-snow {
    border: $border-gray-light;
    &:hover {
        border: $border-primary;
    }
}

.ql-editor::-webkit-scrollbar {
    -webkit-appearance: none;
}

.ql-editor::-webkit-scrollbar:vertical {
    width:0.8rem;
}

.ql-editor::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.ql-editor::-webkit-scrollbar:horizontal {
    height: 0.8rem;
}

.ql-editor::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border-radius: 2rem;
    border: 0.2rem solid #f1f2f3;
}

.ql-editor::-webkit-scrollbar-track {
    border-radius: 0.8rem;  
}


@media (min-width: 992px) {
    body.fixed-body {
        overflow: hidden;
        padding-inline-end: 0.8rem;
    }
}