@import url('/fonts/raleway/raleway.css');

$font-primary: 'Raleway', sans-serif;

$border-primary: 0.1rem solid $primary;
$border-gray-light: 0.1rem solid $gray-light;
$border-dashed-gray-light: 0.1rem dashed $gray-light;

$outline-primary: 0.2rem solid $primary;
