@import '../../../scss/index.scss';

.msg-success {
    text-align: center;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 10rem;
    padding-inline: 1.5rem;
}

.msg-success__title {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

.msg-success__msg {
    font-size: 1.8rem;
    text-wrap: pretty;
}

.msg-success__link {
    margin-block-start: 2rem;
    color: $orange;

    &:hover {
        color: $primary;
        text-decoration: underline;
    }
}

@media (min-width: 640px) {
    .msg-success {
        padding-block: 20rem;
        padding-inline: 2.6rem;
    }
}

@media (min-width: 992px) {
    .msg-success {
        border-inline-end: dashed 0.1rem $gray-light;
    }
}